body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, lavender, pink);
    color: white;
    text-align: center;
    padding: 50px;
}

.container {
    margin-top: 50px;
}

.greeting {
    font-size: 3em;
    font-weight: bold;
    color: #f5d0f1;
}

.message {
    font-size: 1.5em;
    margin: 20px 0;
    line-height: 1.6;
}

.signature {
    font-size: 2em;
    font-style: italic;
    color: #f5d0f1;
}

.hearts {
    animation: hearts 1s infinite alternate;
    margin-top: 30px;
}

@keyframes hearts {
    0% {
        content: "❤️";
    }
    100% {
        content: "💖";
    }
  }
